<!doctype html>
<html lang="fr" ng-app="kimex">
<head>
<meta charset="UTF-8">
<meta name="description" content="Kimex Inc. offre des services de mise en place, de finition et de sciage de béton pour des moyens à très grands projets partout au Québec!" />
<meta name="keywords" content="Kimex, inc, kimexinc, béton, finition, sciage, construction"/>
<meta name="author" content="Alex Nault" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="fragment" content="!">
<title>Kimex Inc.</title>

<!-- =========================
 FAV AND TOUCH ICONS  
============================== -->
<link rel="shortcut icon" href="images/icons/favicon.ico">
<link rel="apple-touch-icon" href="images/icons/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="images/icons/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="images/icons/apple-touch-icon-114x114.png">

<!-- =========================
     STYLESHEETS      
============================== -->
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/owl.theme.css">
<link rel="stylesheet" href="css/owl.carousel.css">
<link rel="stylesheet" href="css/jquery.vegas.min.css">
<link rel="stylesheet" href="css/animate.min.css">

<link rel="stylesheet" href="assets/icon-fonts/styles.css"> 
<link rel="stylesheet" href="css/pixeden-icons.css"> 

<!-- CUSTOM STYLES -->
<link rel="stylesheet" href="css/styles.css">
<link rel="stylesheet" href="css/responsive.css">

<!-- WEBFONT -->
<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,400italic|Montserrat:700,400|Homemade+Apple' rel='stylesheet' type='text/css'>

<!--[if lt IE 9]>
			<script src="js/html5shiv.js"></script>
			<script src="js/respond.min.js"></script>
		<![endif]-->

<!-- JQUERY -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>


<body>
<video class="video-bg" loop autoplay muted preload="auto" poster="images/backgrounds/bg1.jpg" controls="false">
	<source src="videos/bg.mp4" type="video/mp4">
</video>

<!-- =========================
   PRE LOADER       
============================== -->
<div class="preloader">
  <div class="status">&nbsp;</div>
</div>
<!-- =========================
   HOME SECTION       
============================== -->
<header id="home" class="header">
	
	<!-- TOP BAR -->
	<div id="main-nav" class="navbar navbar-inverse bs-docs-nav" role="banner">
		<div class="container">
			<div class="navbar-header">
				<button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>
				<div class="navbar-brand">
				<img src="images/logo.png" alt="Kimex Inc.">
				</div>
			</div>
			<nav class="navbar-collapse collapse" role="navigation" id="bs-navbar-collapse">
			<ul class="nav navbar-nav navbar-right main-nav-list">
				<li><a href="#home">Accueil</a></li>
				<li><a href="#focus">Services</a></li>
				<li><a href="#works">Réalisations</a></li>
				<li><a href="#aboutus">À propos</a></li>
				<li><a href="#team">Équipe</a></li>
				<li><a href="#contact">Nous joindre</a></li>
			</ul>
			</nav>
		</div>
	</div>
	<!-- / END TOP BAR -->
	
	<!-- BIG HEADING WITH CALL TO ACTION BUTTONS AND SHORT MESSAGES -->
	<div class="container">
		
		<!-- HEADING -->
		<h1 class="intro">Une équipe en béton</h1>
		
		<!-- CALL TO ACTION BUTTONS -->
		<div class="buttons inpage-scroll">
			<a href="#focus" class="btn btn-primary custom-button blue-btn">Services offerts</a>
			<!-- <a href="#works" class="btn btn-primary custom-button green-btn">Réalisations</a> -->
		</div>
		
		<!-- 3 SHORT MESSAGE ABOUT COMPANY -->
        <div class="row bottom-message-section">
			<div class="col-lg-4 col-sm-4">
				<div class="short-text">
					<i class="icon-fontawesome-webfont-20"></i>&nbsp;&nbsp;Service de qualité
				</div>
			</div>
			<div class="col-lg-4 col-sm-4">
				<div class="short-text">
					<i class="icon-fontawesome-webfont-222"></i>&nbsp;&nbsp;Conseils d'expert
				</div>
			</div>
			<div class="col-lg-4 col-sm-4">
				<div class="short-text">
					<i class="icon-fontawesome-webfont-347"></i>&nbsp;&nbsp;Satisfaction garantie
				</div>
			</div>
		</div>
	</div> <!-- / END BIG HEADING WITH CALL TO ACTION BUTTONS AND SHORT MESSAGES  -->
	
</header> <!-- / END HOME SECTION  -->

<!-- =========================
   FOCUS SECTION      
============================== -->

<section class="focus" id="focus" ng-controller="ServiceController">
<div class="container">
	
	<!-- SECTION HEADER -->
	<div class="section-header">
		
		<!-- SECTION TITLE -->
		<h2 class="dark-text">Services</h2>
		
		<!-- SHORT DESCRIPTION ABOUT THE SECTION -->
		<h6>
			Disponibles pour vos <b>moyens</b>, <b>grands</b> et <b>très grands</b> projets de <b>plancher de béton</b>.
		</h6>
	</div>
	<!-- / END SECTION HEADER -->
	
	<!-- 4 FOCUS BOXES -->
	<div class="row">
		
		<!-- FIRST FOCUS BOXES -->
		<div class="col-xs-12 col-sm-6 col-lg-3 focus-box red wow fadeInLeft animated" ng-repeat="s in services" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.10s">
			<div class="service-icon" ng-style="{'background-image':'url(images/services/{{s.image}})'}">
			</div>
			<h5 class="red-border-bottom">{{s.title}}</h5> <!-- FOCUS HEADING -->
			<p> <!-- FOCUS DESCRIPTION -->
				{{s.desc}}
			</p>
		</div>
	</div>
	<!-- / END 4 FOCUS BOXES -->
	
	<!-- OTHER FOCUSES -->
	<div class="other-focuses">
		<h5><span class="section-footer-title">Services connexes</span></h5>
	</div>
	
	<!-- OTHER FOCUS LIST -->
	<div class="other-focus-list wow fadeInUp animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.10s">
		<ul>
			<li><i class="icon-vcard"></i>Location de main d'oeuvre</li>
			<li><i class="icon-fontawesome-webfont-344"></i>Réparation</li>
			<li><i class="icon-fontawesome-webfont-278"></i>Étanchéité des joints de contrôle</li>
			<li><i class="icon-fontawesome-webfont-332"></i>Imperméabilisation</li>
			<li><i class="icon-fontawesome-webfont-157"></i>Petit coffrage</li>
		</ul>
	</div> <!-- / END OTHER FOCUS LIST -->
</div> <!-- / END CONTAINER -->
</section>  <!-- / END FOCUS SECTION -->

<!-- =========================
   SEPARATOR ONE      
============================== -->

<!-- <section class="separator-one">
<div class="color-overlay">
	<h3 class="container text wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.10s">
	We have 100+ happy customers in last few years. You can check what they're saying about us. </h3>
	<div class="wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.10s">
		<a href="" class="btn btn-primary custom-button green-btn">TESTIMONIALS</a>
	</div>
</div>
</section> -->  <!-- / END SEPARATOR -->


<!-- =========================
   WORKS SECTION      
============================== -->

<section class="works" id="works" ng-controller="WorkController">
<div class="container">
	
	<!-- SECTION HEADER -->
	<div class="section-header">
		
		<!-- SECTION TITLE -->
		<h2 class="white-text">Réalisations</h2>
		
		<!-- SHORT DESCRIPTION ABOUT THE SECTION -->
		<!-- <h6 class="white-text">
			We have designed and developed many awesome products. Just take a look. 
		</h6> -->
	</div>
	<!-- / END SECTION HEADER -->
	<div class="row projects">
	<div id="loader">
	  <div class="loader-icon"></div>
	</div>
	<div class="col-md-12" id="portfolio-list">
		<!-- PORTFOLIO ITEMS-->
		<ul class="cbp-rfgrid">
			<li class="wow animated" ng-repeat="p in projects" ng-class="p.fade" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.10s">
        <a href="" class="more">
        	<img ng-src="images/portfolio/{{p.image}}" alt="{{p.title}}"/>
					<div class="project-info">
						<div class="project-details">
							<h5 class="white-text red-border-bottom">
								{{p.title}}
							</h5>
							<div class="details white-text">
								{{p.location}}
							</div>
						</div>
					</div>
				</a>
      </li>
		</ul>
	</div>
	<!-- END OF PORTFOLIO ITEMS-->
</div>
	
	<!-- PROJECT DETAILS WILL BE LOADED HERE -->
	<div id="loaded-content"></div>

    <a id="back-button" class="red-btn" href="#"><i class="icon-fontawesome-webfont-27"></i> Retour</a>
	
</div> <!-- / END CONTAINER -->
</section> <!-- / END WORKS SECTION -->


<!-- =========================
   ABOUT US SECTION   
============================== -->

<section class="about-us" id="aboutus">
<div class="container">
	
	<!-- SECTION HEADER -->
	<div class="section-header">
		
		<!-- SECTION TITLE -->
		<h2 class="white-text">À propos</h2>
		
		<!-- SHORT DESCRIPTION ABOUT THE SECTION -->
		<h6 class="white-text">
			Expert en travaux <b>commerciaux</b>, <b>industriels</b>, <b>institutionnels</b>, <b>pharmaceutiques</b>, <b>agricoles</b> et de <b>génie civil</b>.
		</h6>
	</div>
	<!-- / END SECTION HEADER -->
	
	<!-- 3 COLUMNS OF ABOUT US-->
	<div class="row">
		
		<!-- COLUMN 1 - BIG MESSAGE ABOUT THE COMPANY-->
		<div class="col-lg-4 col-md-4 column">
			<div class="big-intro wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.10s">
				Opère partout au Québec avec passion depuis 2005.
			</div>
		</div>
		
		<!-- COLUMN 2 - BRIEF ABOUT THE COMPANY-->
		<div class="col-lg-4 col-md-4 column">
			<p class="wow fadeInUp animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.10s">
				
				Kimex s'est démarquée à travers la province par son souci de qualité et par la priorité qu'elle accorde à la satisfaction de ses clients.
				<br/><br/>
				Appuyé par 36 ans d'expérience et la force d'entreprenariat, l'entreprise a su s'outiller d'une équipe passionnée et d'un savoir-faire rigoureux.
				<br/><br/>
				Le succès de Kimex repose sur un travail impeccable exécuté par une équipe d'expérience muni d'équipements à la fine pointe : lasers, râteau mécanique, polisseuses doubles, chariots motorisés, etc.
			</p>
		</div>
		
		<div class="col-lg-4 col-md-4 column">
			<div style="background-image:url('images/stairs.jpg');min-height:500px;background-repeat:no-repeat;background-size:cover;">
			</div>
		</div>
	</div> <!-- / END 3 COLUMNS OF ABOUT US-->

	<!-- CLIENTS -->
	<div class="our-clients">
		<h5><span class="section-footer-title">Clients comblés</span></h5>
	</div>
	<!-- CLIENT LIST -->
	<div class="client-list" ng-controller="ClientController">
		<ul class="wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.10s">
			<li ng-repeat="c in clients">
				<a ng-href="{{c.url}}" target="_blank"><img ng-src="images/clients/{{c.image}}" alt="{{c.title}}"></a>
			</li>
		</ul>
	</div>
</div> <!-- / END CONTAINER -->
</section> <!-- END ABOUT US SECTION -->

<!-- =========================
   OUR TEAM SECTION   
============================== -->

<section class="our-team" id="team" ng-controller="TeamController">
<div class="container">
	
	<!-- SECTION HEADER -->
	<div class="section-header">
		
		<!-- SECTION TITLE -->
		<h2 class="dark-text">Équipe</h2>
		
		<!-- SHORT DESCRIPTION ABOUT THE SECTION -->
		<!-- <h6>
			Check our awesome team memebers who always work hard to provide quality products. 
		</h6> -->
	</div>
	<!-- / END SECTION HEADER -->
	
	<!-- TEAM MEMBERS -->
	<div class="row wow fadeInRight animated" data-wow-offset="40" data-wow-duration="3s" data-wow-delay="0.10s">
		<div class="col-xs-6 col-sm-3 col-md-3 col-lg-2" ng-repeat="e in employees">
			<div class="team-member">
				<figure class="profile-pic">
				<img ng-if="!e.avatar" src="http://freelanceme.net/Images/default%20profile%20picture.png" alt="">
				<img ng-if="e.avatar" ng-src="images/team/{{e.avatar}}" alt="{{e.firstname}} {{e.lastname}}">
				</figure>
				<div class="member-details">
					<h5 class="dark-text red-border-bottom">{{e.firstname}}<br/>{{e.lastname}}</h5>
					<div class="position">
						{{e.title}}
					</div>
				</div>
				<div class="social-icons">
					<ul>
						<!-- <li ng-if="e.facebook"><a ng-href="{{e.facebook}}" target="_blank"><i class="icon-facebook-alt"></i></a></li>
						<li ng-if="e.linkedin"><a ng-href="{{e.linkedin}}" target="_blank"><i class="icon-linkedin"></i></a></li>
						<li ng-if="e.twitter"><a ng-href="{{e.twitter}}" target="_blank"><i class="icon-twitter-alt"></i></a></li>
						<li ng-style="(e.facebook || e.linkedin || e.twitter) ? {'display':'none'} : {}" style="visibility:hidden;">
							<a href=""><i class="icon-twitter-alt"></i>
						</a></li> -->
					</ul>
				</div>
				<div class="details" ng-if="e.desc">
					<p>
						{{e.desc}}
					</p>
				</div>
			</div>
		</div>
	</div> <!-- / END TEAM MEMBER LIST -->
</div> <!-- / END CONTAINER -->
</section> <!-- / END OUR TEAM SECTION -->

<!-- =========================
   CONTACT US         
============================== -->

<section class="contact-us" id="contact">
<div class="container">
	
	<!-- SECTION HEADER -->
  <div class="section-header">
		
		<!-- SECTION TITLE -->
		<h2 class="white-text">Nous joindre</h2>
		
		<h6 class="white-text">
			Vous avez un projet ou des questions?
		</h6>

		<div class="wow fadeInLeft animated" style="padding-top:30px;" data-wow-duration="1.5s">
			<h6 class="white-text">
				<ul>
					<li>Tél. : (819) 385-4330</li>
					<li>Fax : (819) 385-4501</li>
					<li><i class="icon-fontawesome-webfont-329 green-text"></i>&nbsp;&nbsp;info@kimexinc.com</li>
					<li>Rbq : 8327-8671-46</li>
				</ul>
			</h6>
		</div>
	</div> <!-- / END SECTION HEADER -->
	
	<!-- CONTACT FORM-->
	<div class="row">
		<form role="form" class="contact-form" id="contact-form">
			<div class="wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.10s">
			<div class="col-lg-4 col-sm-4">
				<input type="text" name="name" placeholder="Votre nom" class="form-control input-box" id="name">
			</div>
			<div class="col-lg-4 col-sm-4">
				<input type="email" name="email" placeholder="Votre adresse courriel" class="form-control input-box" id="email">
			</div>
			<div class="col-lg-4 col-sm-4">
				<input type="text" name="subject" placeholder="Objet" class="form-control input-box" id="subject">
			</div>
			</div>
			
			<div class="clearfix">
			<div class="col-md-12 wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.10s">
				<textarea name="message" class="form-control textarea-box" placeholder="Message" id="message"></textarea>
			</div>
			</div>
			<!-- IF MAIL SENT SUCCESSFULLY -->
					<h4 class="success pull-left white-text">
						Votre message a été envoyé.
					</h4>
					
					<!-- IF MAIL SENDING UNSUCCESSFULL -->
					<h4 class="error pull-left white-text">
						Votre adresse courriel doit être valide et votre message ne peut être vide.
					</h4>
			<button class="btn btn-primary custom-button red-btn wow fadeInLeft animated" id="submit" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.10s" type="submit">Envoyer</button>
		</form>
	</div>
	<!-- / END CONTACT FORM-->
</div> <!-- / END CONTAINER -->
</section> <!-- / END CONTACT US SECTION-->

<!-- =========================
   FOOTER             
============================== -->

<footer>
<div class="container">
	
	<div class="col-xs-12 col-sm-6 col-md-2 company-details">
		<a href="http://www.aecq.org/" target="_blank">
			<img src="images/partners/aceq.png" alt="aceq"></img>
		</a>
	</div>

	<div class="col-xs-12 col-sm-6 col-md-2 company-details">
		<a href="http://www.acq.org/" target="_blank">
			<img src="images/partners/acq.png" alt="acq"></img>
		</a>
	</div>

	<!-- <div class="col-xs-12 col-md-1 company-details">
		<img src="images/partners/rbq.jpg" alt="rbq"></img>
	</div> -->
	
	<!-- COMPANY EMAIL-->
	<div class="col-xs-6 col-md-2 company-details">
		<div class="icon-top">
			<a href="mailto:info@kimexinc.com" class="green-text">
				<i class="icon-fontawesome-webfont-329"></i>
			</a>
		</div>
		info@kimexinc.com
	</div>
	
	<!-- COMPANY PHONE NUMBER -->
	<div class="col-xs-6 col-md-2 company-details">
		<div class="icon-top">
			<a href="tel:+18199985330" class="blue-text">
				<i class="icon-fontawesome-webfont-101"></i>
			</a>
		</div>
		(819) 385-4330
	</div>
	
	<!-- SOCIAL ICON AND COPYRIGHT -->
	<div class="col-xs-12 col-md-4 copyright">
		<ul class="social">
			<!-- <li><a href=""><i class="icon-twitter-alt"></i></a></li> -->
			<li><a target="_blank" href="https://www.linkedin.com/company/10103571"><i class="icon-linkedin"></i></a></li>
			<li><a target="_blank" href="https://plus.google.com/107759588997204221862/about"><i class="icon-fontawesome-webfont-209"></i></a></li>
			<!-- <li><a target="_blank" href=""><i class="icon-facebook-alt"></i></a></li> -->
			<!-- <li><a href=""><i class="icon-behance"></i></a></li>
			<li><a href=""><i class="icon-dribbble"></i></a></li> -->
		</ul>
		 ©{{today | date: 'yyyy'}} Kimex Inc.
	</div>
</div> <!-- / END CONTAINER -->
</footer> <!-- / END FOOOTER  -->

<!-- SCRIPTS -->
<script src="js/bootstrap.min.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/jquery.nav.js"></script>
<script src="js/jquery.knob.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/smoothscroll.js"></script>
<script src="js/jquery.vegas.min.js"></script>
<script src="js/zerif.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src="js/main.js"></script>

<script>
  if (location.protocol === 'http:' || location.protocol === 'https:') {
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  	ga('create', 'UA-22359399-3', 'auto');
  	ga('send', 'pageview');
	}
</script>

</body>
</html>