<!doctype html>
<html lang="fr" ng-app="myApp">
<head>
<meta charset="UTF-8">
<meta name="description" content="Finition de béton" />
<meta name="keywords" content="Kimex, construction, finition, beton, ciment"/>
<meta name="author" content="Alex Nault" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Kimex Inc.</title>

<!-- =========================
 FAV AND TOUCH ICONS  
============================== -->
<link rel="shortcut icon" href="images/icons/favicon.ico">
<link rel="apple-touch-icon" href="images/icons/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="images/icons/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="images/icons/apple-touch-icon-114x114.png">

<!-- =========================
     STYLESHEETS      
============================== -->
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/owl.theme.css">
<link rel="stylesheet" href="css/owl.carousel.css">
<link rel="stylesheet" href="css/jquery.vegas.min.css">
<link rel="stylesheet" href="css/animate.min.css">

<link rel="stylesheet" href="assets/icon-fonts/styles.css"> 
<link rel="stylesheet" href="css/pixeden-icons.css"> 

<!-- CUSTOM STYLES -->
<link rel="stylesheet" href="css/styles.css">
<link rel="stylesheet" href="css/responsive.css">

<!-- WEBFONT -->
<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,400italic|Montserrat:700,400|Homemade+Apple' rel='stylesheet' type='text/css'>

<!--[if lt IE 9]>
			<script src="js/html5shiv.js"></script>
			<script src="js/respond.min.js"></script>
		<![endif]-->

<!-- JQUERY -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>


<body>
<!-- =========================
   PRE LOADER       
============================== -->
<div class="preloader">
  <div class="status">&nbsp;</div>
</div>
<!-- =========================
   HOME SECTION       
============================== -->
<header id="home" class="header">
	
	<!-- TOP BAR -->
	<div id="main-nav" class="navbar navbar-inverse bs-docs-nav" role="banner">
		<div class="container">
			<div class="navbar-header responsive-logo">
				<button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>
				<div class="navbar-brand">
				<img src="images/logo.png" alt="Kimex Inc.">
				</div>
			</div>
			<nav class="navbar-collapse collapse" role="navigation" id="bs-navbar-collapse">
			<ul class="nav navbar-nav navbar-right responsive-nav main-nav-list">
				<li><a href="#home">Accueil</a></li>
				<li><a href="#focus">Services</a></li>
				<li><a href="#works">Réalisations</a></li>
				<li><a href="#aboutus">À propos</a></li>
				<li><a href="#team">Équipe</a></li>
				<!-- <li><a href="#pricingtable">Pricing</a></li> -->
				<!-- <li><a href="#features">Features</a></li> -->
				<!-- <li><a href="#products">Products</a></li> -->
				<!-- <li><a href="#testimonials">Testimonials</a></li> -->
				<li><a href="#contact">Nous joindre</a></li>
			</ul>
			</nav>
		</div>
	</div>
	<!-- / END TOP BAR -->
	
	<!-- BIG HEADING WITH CALL TO ACTION BUTTONS AND SHORT MESSAGES -->
	<div class="container">
		
		<!-- HEADING -->
		<h1 class="intro">Une équipe en béton</h1>
		
		<!-- CALL TO ACTION BUTTONS -->
		<div class="buttons inpage-scroll">
			<a href="#focus" class="btn btn-primary custom-button blue-btn">Services</a>
			<a href="#works" class="btn btn-primary custom-button green-btn">Réalisations</a>
		</div>
		
		<!-- 3 SHORT MESSAGE ABOUT COMPANY -->
        <div class="row bottom-message-section">
			<div class="col-lg-4 col-sm-4">
				<div class="short-text">
					<i class="icon icon-fontawesome-webfont-358"></i>&nbsp;&nbsp;Service de qualité
				</div>
			</div>
			<div class="col-lg-4 col-sm-4">
				<div class="short-text">
					<i class="icon-fontawesome-webfont-286"></i>&nbsp;&nbsp;Conseils d'expert
				</div>
			</div>
			<div class="col-lg-4 col-sm-4">
				<div class="short-text">
					<i class="icon-fontawesome-webfont-347"></i>&nbsp;&nbsp;Satisfaction garantie
				</div>
			</div>
		</div>
	</div> <!-- / END BIG HEADING WITH CALL TO ACTION BUTTONS AND SHORT MESSAGES  -->
	
</header> <!-- / END HOME SECTION  -->

<!-- =========================
   FOCUS SECTION      
============================== -->

<section class="focus" id="focus" ng-controller="ServiceController">
<div class="container">
	
	<!-- SECTION HEADER -->
	<div class="section-header">
		
		<!-- SECTION TITLE -->
		<h2 class="dark-text">Services</h2>
		
		<!-- SHORT DESCRIPTION ABOUT THE SECTION -->
		<h6>
			Disponibles pour vos <b>moyens</b>, <b>grands</b> et <b>très grands</b> projets de <b>plancher de béton</b>.
		</h6>
	</div>
	<!-- / END SECTION HEADER -->
	
	<!-- 4 FOCUS BOXES -->
	<div class="row">
		
		<!-- FIRST FOCUS BOXES -->
		<div class="col-lg-3 col-sm-3 focus-box red wow fadeInLeft animated" ng-repeat="s in services" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.10s">
			<div class="service-icon" ng-style="{'background-image':'url(images/services/{{s.image}})'}">
			</div>
			<h5 class="red-border-bottom">{{s.title}}</h5> <!-- FOCUS HEADING -->
			<p> <!-- FOCUS DESCRIPTION -->
				{{s.desc}}
			</p>
		</div>
	</div>
	<!-- / END 4 FOCUS BOXES -->
	
	<!-- OTHER FOCUSES -->
	<div class="other-focuses">
		<h5><span class="section-footer-title">Services connexes</span></h5>
	</div>
	
	<!-- OTHER FOCUS LIST -->
	<div class="other-focus-list wow fadeInUp animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.10s">
		<ul>
			<li><i class="icon-fontawesome-webfont-8"></i>Location de main d'oeuvre</li>
			<li><i class="icon-fontawesome-webfont-8"></i>Application de scelant</li>
			<li><i class="icon-fontawesome-webfont-8"></i>Imperméabilisation</li>
			<li><i class="icon-fontawesome-webfont-8"></i>Étanchéité des joints de contrôle</li>
			<li><i class="icon-fontawesome-webfont-8"></i>Réparation</li>
			<!-- <li><i class="icon-fontawesome-webfont-8"></i>WEB APPLICATIONS</li>
			<li><i class="icon-fontawesome-webfont-267"></i>SEARCH ENGINE OPTIMIZATION</li>
			<li><i class="icon-fontawesome-webfont-75"></i>CLOUD STORAGE</li>
			<li><i class="icon-fontawesome-webfont-358"></i>Project Management</li>
			<li><i class="icon-fontawesome-webfont-102"></i>IOS APP</li>
			<li><i class="icon-fontawesome-webfont-328"></i>ANDROID APP</li>
			<li><i class="icon-fontawesome-webfont-195"></i>WINDOWS APP</li>
			<li><i class="icon-fontawesome-webfont-297"></i>UX STRATEGY</li> -->
		</ul>
	</div> <!-- / END OTHER FOCUS LIST -->
</div> <!-- / END CONTAINER -->
</section>  <!-- / END FOCUS SECTION -->

<!-- =========================
   SEPARATOR ONE      
============================== -->

<!-- <section class="separator-one">
<div class="color-overlay">
	<h3 class="container text wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.10s">
	We have 100+ happy customers in last few years. You can check what they're saying about us. </h3>
	<div class="wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.10s">
		<a href="" class="btn btn-primary custom-button green-btn">TESTIMONIALS</a>
	</div>
</div>
</section> -->  <!-- / END SEPARATOR -->


<!-- =========================
   WORKS SECTION      
============================== -->

<section class="works" id="works" ng-controller="WorkController">
<div class="container">
	
	<!-- SECTION HEADER -->
	<div class="section-header">
		
		<!-- SECTION TITLE -->
		<h2 class="white-text">Réalisations</h2>
		
		<!-- SHORT DESCRIPTION ABOUT THE SECTION -->
		<!-- <h6 class="white-text">
			We have designed and developed many awesome products. Just take a look. 
		</h6> -->
	</div>
	<!-- / END SECTION HEADER -->
	<div class="row projects">
	<div id="loader">
	  <div class="loader-icon"></div>
	</div>
	<div class="col-md-12" id="portfolio-list">
		<!-- PORTFOLIO ITEMS-->
		<ul class="cbp-rfgrid">
			<li class="wow animated" ng-repeat="p in projects" ng-class="p.fade" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.10s">
        <a href="project.html" class="more">
        	<img ng-src="images/portfolio/{{p.image}}" alt="{{p.title}}"/>
					<div class="project-info">
						<div class="project-details">
							<h5 class="white-text red-border-bottom">
								{{p.title}}
							</h5>
							<div class="details white-text">
								{{p.desc}}
							</div>
						</div>
					</div>
				</a>
      </li>
        
		<!-- PROJECT -->	
        <li class="wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.10s">
        <a href="project.html" class="more"><img src="images/portfolio/4.jpg"  alt="project"/>
			<div class="project-info">
				<div class="project-details">
					<h5 class="white-text red-border-bottom">
					Project Title </h5>
					<div class="details white-text">
						Web Design
					</div>
				</div>
			</div>
			</a>
        </li>
        <!-- / PROJECT -->
        
        <!-- PROJECT -->	
        <li class="wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.8s" data-wow-delay="0.10s">
        <a href="project.html" class="more"><img src="images/portfolio/5.jpg" alt="project"/>
			<div class="project-info">
				<div class="project-details">
					<h5 class="white-text red-border-bottom">
					Project Title </h5>
					<div class="details white-text">
						Web Design
					</div>
				</div>
			</div>
			</a>
        </li>
        <!-- / PROJECT -->
		
        <!-- PROJECT -->	
        <li>
        <a href="project.html" class="more"><img src="images/portfolio/6.jpg" alt="project"/>
			<div class="project-info">
				<div class="project-details">
					<h5 class="white-text red-border-bottom">
					Project Title </h5>
					<div class="details white-text">
						Web Design
					</div>
				</div>
			</div>
			</a>
        </li>
        <!-- / PROJECT -->
         
         <!-- PROJECT -->	
        <li>
        <a href="project.html" class="more"><img src="images/portfolio/7.jpg"  alt="project"/>
			<div class="project-info">
				<div class="project-details">
					<h5 class="white-text red-border-bottom">
					Project Title </h5>
					<div class="details white-text">
						Web Design
					</div>
				</div>
			</div>
			</a>
        </li>
        <!-- / PROJECT -->
		
         <!-- PROJECT -->	
        <li class="wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.8s" data-wow-delay="0.10s">
        <a href="project.html" class="more"><img src="images/portfolio/8.jpg"  alt="project"/>
			<div class="project-info">
				<div class="project-details">
					<h5 class="white-text red-border-bottom">
					Project Title </h5>
					<div class="details white-text">
						Web Design
					</div>
				</div>
			</div>
			</a>
        </li>
        <!-- / PROJECT -->
		
        <!-- PROJECT -->	
        <li class="wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="2s" data-wow-delay="0.25s">
        <a href="project.html" class="more"><img src="images/portfolio/9.jpg" alt="project"/>
			<div class="project-info">
				<div class="project-details">
					<h5 class="white-text red-border-bottom">
					Project Title </h5>
					<div class="details white-text">
						Web Design
					</div>
				</div>
			</div>
			</a>
        </li>
        <!-- / PROJECT -->
		
        <!-- PROJECT -->	
        <li class="wow fadeInUp animated" data-wow-offset="30" data-wow-duration="2s" data-wow-delay="0.25s">
        <a href="project.html" class="more"><img src="images/portfolio/10.jpg" alt="project"/>
			<div class="project-info">
				<div class="project-details">
					<h5 class="white-text red-border-bottom">
					Project Title </h5>
					<div class="details white-text">
						Web Design
					</div>
				</div>
			</div>
			</a>
        </li>
        <!-- / PROJECT -->
		
        <!-- PROJECT -->	
        <li class="wow fadeInUp animated" data-wow-offset="30" data-wow-duration="2s" data-wow-delay="0.25s">
        <a href="project.html" class="more"><img src="images/portfolio/11.jpg"  alt="project"/>
			<div class="project-info">
				<div class="project-details">
					<h5 class="white-text red-border-bottom">
					Project Title </h5>
					<div class="details white-text">
						Web Design
					</div>
				</div>
			</div>
			</a>
        </li>
        <!-- / PROJECT -->
		
        <!-- PROJECT -->	
        <li class="wow fadeInRight animated" data-wow-offset="30" data-wow-duration="2s" data-wow-delay="0.25s">
        <a href="project.html" class="more"><img src="images/portfolio/12.jpg"  alt="project"/>
			<div class="project-info">
				<div class="project-details">
					<h5 class="white-text red-border-bottom">
					Project Title </h5>
					<div class="details white-text">
						Web Design
					</div>
				</div>
			</div>
			</a>
        </li>
        <!-- / PROJECT -->

        <!-- ... -->
		</ul>
	</div>
	<!-- END OF PORTFOLIO ITEMS-->
</div>
	
	<!-- PROJECT DETAILS WILL BE LOADED HERE -->
	<div id="loaded-content"></div>

    <a id="back-button" class="red-btn" href="#"><i class="icon-fontawesome-webfont-27"></i> Go Back</a>
	
</div> <!-- / END CONTAINER -->
</section> <!-- / END WORKS SECTION -->


<!-- =========================
   ABOUT US SECTION   
============================== -->

<section class="about-us" id="aboutus">
<div class="container">
	
	<!-- SECTION HEADER -->
	<div class="section-header">
		
		<!-- SECTION TITLE -->
		<h2 class="white-text">À propos</h2>
		
		<!-- SHORT DESCRIPTION ABOUT THE SECTION -->
		<h6 class="white-text">
			Expert en travaux <b>commerciaux</b>, <b>industriels</b>, <b>institutionnels</b>, <b>pharmaceutiques</b>, <b>alimentaires</b> et de <b>génie civil</b>.
		</h6>
	</div>
	<!-- / END SECTION HEADER -->
	
	<!-- 3 COLUMNS OF ABOUT US-->
	<div class="row">
		
		<!-- COLUMN 1 - BIG MESSAGE ABOUT THE COMPANY-->
		<div class="col-lg-4 col-md-4 column">
			<div class="big-intro wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.10s">
				Apporte des résultats hors-pairs avec passion depuis 2005.
			</div>
		</div>
		
		<!-- COLUMN 2 - BRIEF ABOUT THE COMPANY-->
		<div class="col-lg-4 col-md-4 column">
			<p class="wow fadeInUp animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.10s">
				Opère partout au Québec!	
				Entreprise spécialisée dans la mise en place de béton. Elle est doté d'une équipe hautement qualifiée en travaux industriels, commerciaux et génie civil. Kimex offre des services de mise en place de béton, de finition de béton, de sciage de béton et d'imperméabilisation. Fondée en 2005, Kimex a su briller par l'expertise dont dispose son personnel.
				<br/><br/>
				 Created forth two. Behold appear first, kind all i saying fowl man itself moved which every open shall moved subdue appear. Saying life wherein stars. Give dry, own, male had that us third lesser over deep. May every bring in it Whose. Female earth heaven won't behold female.<br/><br/>
				Moved bearing give a two after. Had. Seas. Man they're. Grass above kind saying thing for that void sixth fly His after it.<br/><br/>
				The set doesn't moved. Deep don't fruit fowl gathering heaven days moving creeping under from i air. Set it fifth Meat was darkness. every bring in it Whose. Female earth heaven won't behold female.
			</p>
		</div>
		
		<div class="col-lg-4 col-md-4 column">
			<div style="background-image:url('images/stairs.jpg');min-height:500px;background-repeat:no-repeat;background-size:cover;">
			</div>
		</div>
	</div> <!-- / END 3 COLUMNS OF ABOUT US-->

	<!-- CLIENTS -->
	<div class="our-clients">
		<h5><span class="section-footer-title">Clients comblés</span></h5>
	</div>
	<!-- CLIENT LIST -->
	<div class="client-list" ng-controller="ClientController">
		<ul class="wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.10s">
			<li ng-repeat="c in clients">
				<a ng-href="{{c.url}}" target="_blank"><img ng-src="images/clients/{{c.image}}" alt="{{c.title}}"></a>
			</li>
		</ul>
	</div>
</div> <!-- / END CONTAINER -->
</section> <!-- END ABOUT US SECTION -->

<!-- =========================
   STATS              
============================== -->

<!-- <section class="stats">
	<div class="container">
	    <div class="row">
	        
	        <div class="col-lg-3 col-sm-3">
	            <div class="stat wow fadeInUp animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.10s">
	                <div class="icon-top red-text">
	                    <i class="icon-design-graphic-tablet-streamline-tablet"></i>
	                </div>
	                <div class="stat-text">
	                <h3 class="white-text red-border-bottom">1,236</h3>
	                <h6>Projects Completed</h6>
	                </div>
	            </div>
	        </div>
	        
	        <div class="col-lg-3 col-sm-3">
	            <div class="stat wow fadeInUp animated" data-wow-offset="30" data-wow-duration="1.75s" data-wow-delay="0.30s">
	                <div class="icon-top green-text">
	                    <i class="icon-man-people-streamline-user"></i>
	                </div>
	                <div class="stat-text">
	                <h3 class="white-text green-border-bottom">196</h3>
	                <h6>Happy Clients</h6>
	                </div>
	            </div>
	        </div>
	        
	        <div class="col-lg-3 col-sm-3">
	            <div class="stat wow fadeInUp animated" data-wow-offset="30" data-wow-duration="2s" data-wow-delay="0.45s">
	                <div class="icon-top blue-text">
	                    <i class="icon-email-mail-streamline"></i>
	                </div>
	                <div class="stat-text">
	                <h3 class="white-text blue-border-bottom">56,236</h3>
	                <h6>Mail Conversation</h6>
	                </div>
	            </div>
	        </div>
	        
	        <div class="col-lg-3 col-sm-3">
	            <div class="stat wow fadeInUp animated" data-wow-offset="30" data-wow-duration="2.25s" data-wow-delay="1s">
	                <div class="icon-top yellow-text">
	                    <i class="icon-picture-streamline-1"></i>
	                </div>
	                <div class="stat-text">
	                <h3 class="white-text yellow-border-bottom">2,519</h3>
	                <h6>Photos Taken</h6>
	                </div>
	            </div>
	        </div>
	    </div>
</div>
</section> -->  <!-- / END STATS -->

<!-- =========================
   OUR TEAM SECTION   
============================== -->

<section class="our-team" id="team" ng-controller="TeamController">
<div class="container">
	
	<!-- SECTION HEADER -->
	<div class="section-header">
		
		<!-- SECTION TITLE -->
		<h2 class="dark-text">Équipe</h2>
		
		<!-- SHORT DESCRIPTION ABOUT THE SECTION -->
		<!-- <h6>
			Check our awesome team memebers who always work hard to provide quality products. 
		</h6> -->
	</div>
	<!-- / END SECTION HEADER -->
	
	<!-- TEAM MEMBERS -->
	<div class="row wow fadeInRight animated" data-wow-offset="40" data-wow-duration="3s" data-wow-delay="0.10s">
		<div class="col-lg-3 col-sm-3" ng-repeat="e in employees">
			<div class="team-member">
				<figure class="profile-pic">
				<img ng-if="!e.avatar" src="http://freelanceme.net/Images/default%20profile%20picture.png" alt=""> <!-- MEMBER PROFILE PIC -->
				<img ng-if="e.avatar" ng-src="images/team/{{e.avatar}}" alt=""> <!-- MEMBER PROFILE PIC -->
				</figure>
				<div class="member-details">
					<h5 class="dark-text red-border-bottom">{{e.firstname}} {{e.lastname}}</h5>
					<div class="position">
						{{e.title}}
					</div>
				</div>
				<div class="social-icons">
					<ul>
						<li ng-if="e.facebook"><a ng-href="{{e.facebook}}" target="_blank"><i class="icon-facebook-alt"></i></a></li>
						<li ng-if="e.linkedin"><a ng-href="{{e.linkedin}}" target="_blank"><i class="icon-linkedin"></i></a></li>
						<li ng-if="e.twitter"><a ng-href="{{e.twitter}}" target="_blank"><i class="icon-twitter-alt"></i></a></li>
						<li ng-style="(e.facebook || e.linkedin || e.twitter) ? {'display':'none'} : {}" style="visibility:hidden;">
							<a href=""><i class="icon-twitter-alt"></i>
						</a></li>
					</ul>
				</div>
				<div class="details" ng-if="e.desc">
					<p>
						{{e.desc}}
					</p>
				</div>
			</div>
		</div>

		<!-- MEMBER -->
		<!-- <div class="col-lg-3 col-sm-3">
			<div class="team-member">
				<figure class="profile-pic"> 
				<img src="images/team/pic1.jpg" alt="">
				</figure>
				<div class="member-details">
					<h5 class="dark-text red-border-bottom">Lucie Trépanier</h5>
					<div class="position">
						Présidente
					</div>
				</div>
				<div class="social-icons">
					<ul>
						<li><a href=""><i class="icon-facebook"></i></a></li>
						<li><a href="https://www.linkedin.com/profile/view?id=411055062"><i class="icon-linkedin"></i></a></li>
						<li><a href=""><i class="icon-twitter-alt"></i></a></li>
						<li><a href=""><i class="icon-behance"></i></a></li>
						<li><a href=""><i class="icon-dribbble"></i></a></li>
					</ul>
				</div>
				<div class="details">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium sapiente voluptate nostrum ipsa tempora optio facilis beatae quo aut error corrupti officiis dolore accusantium rem rerum illum nulla sed quisquam.
					</p>
				</div>
			</div>
		</div> -->
		<!-- / END MEMBER -->
		
	</div> <!-- / END TEAM MEMBER LIST -->
</div> <!-- / END CONTAINER -->
</section> <!-- / END OUR TEAM SECTION -->

<!-- =========================
   PACKAGES SECTION   
============================== -->

<!-- <section class="packages" id="pricingtable">
<div class="container">
	
	<div class="section-header">
		
		<h2 class="white-text">Packages</h2>
		
		<h6 class="white-text">
			We have 4 friendly packages for you. Check all the packages and choose the right one for you. 
		</h6>
	</div>

	<div class="row">
		
		<div class="col-lg-3 col-sm-3">
			<div class="package wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.10s">
				<div class="package-header green-bg">
					<img src="images/services/sciage.jpg"></img>
					<h5>Basic</h5>
				</div>
				<div class="price dark-bg">
					<div class="price-container">
					<h4><span class="dollar-sign">$</span>15</h4><span class="price-meta">
					    / mo
					</span>
					</div>
				</div>
				<ul>
					<li><i class="icon-check"></i>100GB Storage</li>
					<li><i class="icon-check"></i>All Themes</li>
					<li><i class="icon-cancel"></i>Access to Tutorials</li>
					<li><i class="icon-cancel"></i>Auto Backup</li>
					<li><i class="icon-cancel"></i>Extended Security</li>
				</ul>
				<a href="#" class="btn btn-primary custom-button green-btn">
				Sign Up </a>
			</div>
		</div>
		
		<div class="col-lg-3 col-sm-3">
			<div class="package wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.10s">
				<div class="package-header blue-bg">
					<h5>Standard</h5>
				</div>
				<div class="price dark-bg">
					<div class="price-container">
					<h4><span class="dollar-sign">$</span>21 </h4>
					<span class="price-meta">/ Mo</span>
					</div>
				</div>
				<ul>
					<li><i class="icon-check"></i>100GB Storage</li>
					<li><i class="icon-check"></i>All Themes</li>
					<li><i class="icon-cancel"></i>Access to Tutorials</li>
					<li><i class="icon-cancel"></i>Auto Backup</li>
					<li><i class="icon-cancel"></i>Extended Security</li>
				</ul>
				<a href="#" class="btn btn-primary custom-button blue-btn">
				Sign Up </a>
			</div>
		</div>
		
		<div class="col-lg-3 col-sm-3">
			<div class="best-value">
				<div class="package wow fadeInUp animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.10s">
					<div class="package-header red-bg">
						<h4>Premium</h4>
						<div class="meta-text">
							Best Value
						</div>
					</div>
					<div class="price dark-bg">
						<h4><span class="dollar-sign">$</span>53</h4>
						<span class="price-meta">/ mo</span>
					</div>
					<ul>
						<li><i class="icon-check"></i>100GB Storage</li>
						<li><i class="icon-check"></i>All Themes</li>
						<li><i class="icon-cancel"></i>Access to Tutorials</li>
						<li><i class="icon-cancel"></i>Auto Backup</li>
						<li><i class="icon-cancel"></i>Extended Security</li>
					</ul>
					<a href="#" class="btn btn-primary custom-button red-btn">
				Sign Up </a>
				</div>
			</div>
		</div>
		
		<div class="col-lg-3 col-sm-3">
			<div class="package wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.10s">
				<div class="package-header yellow-bg">
					<h5>Ultimate</h5>
				</div>
				<div class="price dark-bg">
					<h4><span class="dollar-sign">$</span>99 </h4>
					<span class="price-meta">/ mo</span>
				</div>
				<ul>
					<li><i class="icon-check"></i>100GB Storage</li>
					<li><i class="icon-check"></i>All Themes</li>
					<li><i class="icon-cancel"></i>Access to Tutorials</li>
					<li><i class="icon-cancel"></i>Auto Backup</li>
					<li><i class="icon-cancel"></i>Extended Security</li>
				</ul>
				<a href="#" class="btn btn-primary custom-button yellow-btn">
				Sign Up </a>
			</div>
		</div>
	</div>
	
</div>
</section> --> <!-- END PACKAGES SECTION -->

<!-- =========================
   FEATURES SECTION   
============================== -->
<!-- <section class="features" id="features">
<div class="container">
		
	<div class="section-header">
		
		<h2 class="dark-text">Features</h2>
		
		<h6>
			We design &amp; develop qaulity products to help small &amp; medium level business.
		</h6>
	</div>
	
	<div class="row">
		
		<div class="col-md-6 col-sm-6 wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.10s">
			
			<div class="feature">
				<div class="feature-icon">
					<i class="icon-heart-1"></i>
				</div>
				<h5>Design with Love</h5>
				<p>
					 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				</p>
			</div>
			
			<div class="feature">
				<div class="feature-icon">
					<i class="icon-bulb"></i>
				</div>
				<h5>Creative Features</h5>
				<p>
					 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				</p>
			</div>
			
			<div class="feature">
				<div class="feature-icon">
					<i class="icon-settings-1"></i>
				</div>
				<h5>Thousands of Options</h5>
				<p>
					 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				</p>
			</div>
		</div>
		
		<div class="col-md-6 col-sm-6 wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.10s">
			<div class="feature">
				<div class="feature-icon">
					<i class="icon-params"></i>
				</div>
				<h5>Easy to Customize</h5>
				<p>
					 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				</p>
			</div>
			
			<div class="feature">
				<div class="feature-icon">
					<i class="icon-handle-streamline-vector"></i>
				</div>
				<h5>Clean Strategy</h5>
				<p>
					 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				</p>
			</div>
			
			<div class="feature">
				<div class="feature-icon">
					<i class="icon-speech-streamline-talk-user"></i>
				</div>
				<h5>Awesome Support</h5>
				<p>
					 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				</p>
			</div>
			
		</div>
	</div>
</div>
</section> --> <!-- / END FEATURES SECTION -->

<!-- =========================
   PRODUCTS SECTION   
============================== -->

<!-- <section class="products" data-type="background" data-speed="1" id="products">
<div class="color-overlay">
	<div class="container">
			
    <div class="section-header">
		
		<h2 class="white-text">Products</h2>
		
		<h6 class="white-text">
			We design &amp; develop qaulity products to help small &amp; medium level business.
		</h6>
	</div>
	
		<div class="row wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.10s">
      <div class="col-md-3">
				<div class="item item-1">
					<div class="item-overlay">
					</div>
					<div class="item-content">
						<div class="item-top-content">
							<div class="item-top-content-inner">
								<div class="item-product">
									<div class="item-top-title">
										<h5>One Light</h5>
										<p class="subdescription">
											 WordPress Theme
										</p>
									</div>
								</div>
								<div class="item-product-price">
									
									<span class="price-num green-text">$17</span> 
									
									<p class="subdescription">
										 $36
									</p>
									<div class="old-price">
									</div>
								</div>
							</div>
						</div>
						
						<div class="item-add-content">
							<div class="item-add-content-inner">
								<div class="section">
									<p>
										Creative WordPress Theme
									</p>
								</div>
								<div class="section">
									<a href="#" class="btn btn-primary custom-button red-btn">Demo</a><br/>
									<a href="#" class="btn btn-primary custom-button green-btn">Buy</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-md-3">
				<div class="item item-2">
					<div class="item-overlay">
					</div>
					<div class="item-content">
						<div class="item-top-content">
							<div class="item-top-content-inner">
								<div class="item-product">
									<div class="item-top-title">
										<h5>Telfez</h5>
										<p  class="subdescription">
											 WordPress Theme
										</p>
									</div>
								</div>
								<div class="item-product-price">
									<span class="price-num green-text">$17</span>
									<p class="subdescription">
										 $36
									</p>
									<div class="old-price">
									</div>
								</div>
							</div>
						</div>
						<div class="item-add-content">
							<div class="item-add-content-inner">
								<div class="section">
									<p>
										Creative WordPress Theme
									</p>
								</div>
								<div class="section">
									<a href="#" class="btn btn-primary custom-button red-btn">Demo</a><br/>
									<a href="#" class="btn btn-primary custom-button green-btn">Buy</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-md-3">
				<div class="item item-3">
					<div class="item-overlay">
					</div>
					<div class="item-content">
						<div class="item-top-content">
							<div class="item-top-content-inner">
								<div class="item-product">
									<div class="item-top-title">
										<h5>Calender</h5>
										<p class="subdescription">
											 Widget
										</p>
									</div>
								</div>
								<div class="item-product-price">
									<span class="price-num green-text">$9</span>
									<p class="subdescription">
										 $15
									</p>
									<div class="old-price">
									</div>
								</div>
							</div>
						</div>
						<div class="item-add-content">
							<div class="item-add-content-inner">
								<div class="section">
									<p>
										Beautiful Calender Widget
									</p>
								</div>
								<div class="section">
									<a href="#" class="btn btn-primary custom-button red-btn">Demo</a><br/>
									<a href="#" class="btn btn-primary custom-button green-btn">Buy</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-md-3">
				<div class="item item-4">
					<div class="item-overlay">
					</div>
					<div class="item-content">
						<div class="item-top-content">
							<div class="item-top-content-inner">
								<div class="item-product">
									<div class="item-top-title">
										<h5>Toolbar</h5>
										<p class="subdescription">
											 UI Element
										</p>
									</div>
								</div>
								<div class="item-product-price">
									<span class="price-num green-text">$11</span>
									
								</div>
							</div>
						</div>
						<div class="item-add-content">
							<div class="item-add-content-inner">
								<div class="section">
									<p>
										Beautiful Toolbar with Icons
									</p>
								</div>
								<div class="section">
									<a href="#" class="btn btn-primary custom-button red-btn">Demo</a><br/>
									<a href="#" class="btn btn-primary custom-button green-btn">Buy</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			</div>
			
			<div class="row wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.10s">
			<div class="col-md-3">
				<div class="item item-5">
					<div class="item-overlay">
					</div>
					<div class="item-content">
						<div class="item-top-content">
							<div class="item-top-content-inner">
								<div class="item-product">
									<div class="item-top-title">
										<h5>Public Radio</h5>
										<p class="subdescription">
											 UI Element
										</p>
									</div>
								</div>
								<div class="item-product-price">
									<span class="price-num green-text">$15</span>
									<p class="subdescription">
										 $23
									</p>
									<div class="old-price">
									</div>
								</div>
							</div>
						</div>
						<div class="item-add-content">
							<div class="item-add-content-inner">
								<div class="section">
									<p>
										Creative Radio PSD
									</p>
								</div>
								<div class="section">
									<a href="#" class="btn btn-primary custom-button red-btn">Demo</a><br/>
									<a href="#" class="btn btn-primary custom-button green-btn">Buy</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-md-3">
				<div class="item item-6">
					<div class="item-overlay">
					</div>
					<div class="item-content">
						<div class="item-top-content">
							<div class="item-top-content-inner">
								<div class="item-product">
									<div class="item-top-title">
										<h5>Health Care</h5>
										<p class="subdescription">
											 One Page Template
										</p>
									</div>
								</div>
								<div class="item-product-price">
									<span class="price-num green-text">$18</span>
									<p class="subdescription">
										 $30
									</p>
									<div class="old-price">
									</div>
								</div>
							</div>
						</div>
						<div class="item-add-content">
							<div class="item-add-content-inner">
								<div class="section">
									<p>
										Responsive One Page Template
									</p>
								</div>
								<div class="section">
									<a href="#" class="btn btn-primary custom-button red-btn">Demo</a><br/>
									<a href="#" class="btn btn-primary custom-button green-btn">Buy</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-md-3">
				<div class="item item-7">
					<div class="item-overlay">
					</div>
					<div class="item-content">
						<div class="item-top-content">
							<div class="item-top-content-inner">
								<div class="item-product">
									<div class="item-top-title">
										<h5>Radio Dial</h5>
										<p class="subdescription">
											 UI Element
										</p>
									</div>
								</div>
								<div class="item-product-price">
									<span class="price-num green-text">$10</span>
									
								
								</div>
							</div>
						</div>
						<div class="item-add-content">
							<div class="item-add-content-inner">
								<div class="section">
									<p>
										Creative WordPress Theme
									</p>
								</div>
								<div class="section">
									<a href="#" class="btn btn-primary custom-button red-btn">Demo</a><br/>
									<a href="#" class="btn btn-primary custom-button green-btn">Buy</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-md-3">
				<div class="item item-8">
					<div class="item-overlay">
					</div>
					<div class="item-content">
						<div class="item-top-content">
							<div class="item-top-content-inner">
								<div class="item-product">
									<div class="item-top-title">
										<h5>Pricing Page</h5>
										<p class="subdescription">
											 UI Element
										</p>
									</div>
								</div>
								<div class="item-product-price">
									<span class="price-num green-text">$17</span>
									<p class="subdescription">
										 $36
									</p>
									<div class="old-price">
									</div>
								</div>
							</div>
						</div>
						<div class="item-add-content">
							<div class="item-add-content-inner">
								<div class="section">
									<p>
										Creative UI Element
									</p>
								</div>
								<div class="section">
									<a href="#" class="btn btn-primary custom-button red-btn">Demo</a><br/>
									<a href="#" class="btn btn-primary custom-button green-btn">Buy</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</section> --> <!-- / END PRODUCTS SECTION -->

<!-- =========================
   NEWSETTER          
============================== -->

<!-- <section class="newsletter">
<div class="container">
	<h3 class="white-text wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.10s">Stay in touch</h3>
	<div class="sub-heading white-text wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.10s">
		 Sign Up for Email Updates on on News &amp; Offers
	</div> 
	
	<form action="#" class="subscription wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.10s" role="form">
		<input type="email" placeholder="Enter email" class="form-control input-box">
		<button class="btn btn-primary custom-button red-btn">Sign Up</button>
	</form>
	
</div>
</section>  --><!-- / END NEWSLETTER SECTION -->

<!-- =========================
   TESTIMONIAL        
============================== -->

<!-- <section class="testimonial" id="testimonials">
<div class="container">
	  
  <div class="section-header">
		<h2 class="white-text">Témoignages</h2>
		
		<h6 class="white-text">
			We have worked with hundreds of clients. Check what our awesome happy clients saying about us. 
		</h6>
	</div>
	
	<div class="row wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.10s">
		<div class="col-md-12">
			<div id="client-feedbacks" class="owl-carousel owl-theme">
				<div class="feedback-box">
					<div class="message">
						 “Called days. Image kind beginning have. Herb set kind herb. Wherein saying third was, every land moveth also bearing hath bring had give god gathered behold open cattle after a, from third male subdue multiply divided void cattle winged. Herb set kind herb. multiply divided void cattle winged. Herb set kind herb.”
					</div>
					<div class="client">
						<div class="quote red-text">
							<i class="icon-fontawesome-webfont-294"></i>
						</div>
						<div class="client-info">
							<a class="client-name" href="">Frank Willian</a> 
							<div class="client-company">
								 CEO, AbcD Network
							</div>
						</div>
						<div class="client-image hidden-xs">
							<img src="images/clients-pic/1.jpg" alt="">
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>

</div>
</section> --> <!-- / END TESTIMONIAL SECTION -->

<!-- =========================
   PURCHASE NOW       
============================== -->

<!-- <section class="purchase-now">
<div class="container">
	<div class="row">
		<div class="col-md-9">
			<h3 class="white-text wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.10s">
			Hey, We're at the finishing line. Enjoyed the template? </h3>
		</div>
		<div class="col-md-3 wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.10s">
			<a href="" class="btn btn-primary custom-button red-btn">Purchase Now</a>
		</div>
	</div>
</div>
</section> -->

<!-- =========================
   CONTACT US         
============================== -->

<section class="contact-us" id="contact">
<div class="container">
	
	<!-- SECTION HEADER -->
  <div class="section-header">
		
		<!-- SECTION TITLE -->
		<h2 class="white-text">Nous joindre</h2>
		
		<h6 class="white-text">
			Vous avez un projet ou des questions?
		</h6>

		<div class="wow fadeInLeft animated" style="padding-top:30px;" data-wow-duration="1.5s">
			<h6 class="white-text">
				<ul>
					<li>Tél. : (819) 385-4330</li>
					<li>Fax : (819) 385-4501</li>
					<li><i class="icon-fontawesome-webfont-329 green-text"></i>&nbsp;&nbsp;info@kimexinc.com</li>
					<li>Rbq : 8327-8671-46</li>
				</ul>
			</h6>
		</div>
	</div> <!-- / END SECTION HEADER -->
	
	<!-- CONTACT FORM-->
	<div class="row">
		<form role="form" class="contact-form" id="contact-form">
			<div class="wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.10s">
			<div class="col-lg-4 col-sm-4">
				<input type="text" name="name" placeholder="Votre nom" class="form-control input-box" id="name">
			</div>
			<div class="col-lg-4 col-sm-4">
				<input type="email" name="email" placeholder="Votre adresse courriel" class="form-control input-box" id="email">
			</div>
			<div class="col-lg-4 col-sm-4">
				<input type="text" name="subject" placeholder="Objet" class="form-control input-box" id="subject">
			</div>
			</div>
			
			<div class="clearfix">
			<div class="col-md-12 wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.10s">
				<textarea name="message" class="form-control textarea-box" placeholder="Message" id="message"></textarea>
			</div>
			</div>
			<!-- IF MAIL SENT SUCCESSFULLY -->
					<h4 class="success pull-left white-text">
						Votre message a été envoyé.
					</h4>
					
					<!-- IF MAIL SENDING UNSUCCESSFULL -->
					<h4 class="error pull-left white-text">
						Votre adresse courriel doit être valide et votre message ne peut être vide.
					</h4>
			<button class="btn btn-primary custom-button red-btn wow fadeInLeft animated" id="submit" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.10s" type="submit">Envoyer</button>
		</form>
	</div>
	<!-- / END CONTACT FORM-->
</div> <!-- / END CONTAINER -->
</section> <!-- / END CONTACT US SECTION-->

<!-- =========================
   FOOTER             
============================== -->

<footer>
<div class="container">
	
	<div class="col-xs-12 col-sm-6 col-md-2 company-details">
		<a href="http://www.aecq.org/" target="_blank">
			<img src="images/partners/aceq.png" alt="aceq"></img>
		</a>
	</div>

	<div class="col-xs-12 col-sm-6 col-md-2 company-details">
		<a href="http://www.acq.org/" target="_blank">
			<img src="images/partners/acq.png" alt="acq"></img>
		</a>
	</div>

	<!-- <div class="col-xs-12 col-md-1 company-details">
		<img src="images/partners/rbq.jpg" alt="rbq"></img>
	</div> -->
	
	<!-- COMPANY EMAIL-->
	<div class="col-xs-6 col-md-2 company-details">
		<div class="icon-top">
			<a href="mailto:info@kimexinc.com" class="green-text">
				<i class="icon-fontawesome-webfont-329"></i>
			</a>
		</div>
		info@kimexinc.com
	</div>
	
	<!-- COMPANY PHONE NUMBER -->
	<div class="col-xs-6 col-md-2 company-details">
		<div class="icon-top">
			<a href="tel:+18199985330" class="blue-text">
				<i class="icon-fontawesome-webfont-101"></i>
			</a>
		</div>
		(819) 385-4330
	</div>
	
	<!-- SOCIAL ICON AND COPYRIGHT -->
	<div class="col-xs-12 col-md-4 copyright">
		<ul class="social">
			<!-- <li><a href=""><i class="icon-twitter-alt"></i></a></li> -->
			<li><a target="_blank" href="https://www.linkedin.com/company/10103571"><i class="icon-linkedin"></i></a></li>
			<li><a target="_blank" href=""><i class="icon-facebook-alt"></i></a></li>
			<!-- <li><a href=""><i class="icon-behance"></i></a></li>
			<li><a href=""><i class="icon-dribbble"></i></a></li> -->
		</ul>
		 ©{{today | date: 'yyyy'}} Kimex Inc.
	</div>
</div> <!-- / END CONTAINER -->
</footer> <!-- / END FOOOTER  -->

<!-- SCRIPTS -->
<script src="js/bootstrap.min.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/jquery.nav.js"></script>
<script src="js/jquery.knob.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/smoothscroll.js"></script>
<script src="js/jquery.vegas.min.js"></script>
<script src="js/zerif.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src="js/main.js"></script>

<script>
  if (location.protocol === 'http:' || location.protocol === 'https:') {
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  	ga('create', 'UA-22359399-3', 'auto');
  	ga('send', 'pageview');
	}
</script>

</body>
</html>